@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:wght@300;400&family=Teko&family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: transparent;
  }

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

:root{
    --primaria: #1b1c21;
    --secundaria:  #282828;
}

html{
    min-width: 1280px !important;
    overflow-x: hidden;
}

body{
    width: 100vw;
    background-color: var(--primaria);
    font-family: Roboto;
    color: #ffffff;
}

h1,h2,h3,h4,h5,h6{
    font-family: Alata !important;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* header */

header{
    background-image: url('../img/fundoHeader.svg');
    background-repeat: repeat-x;
    /* background-position: bottom; */
    background-attachment: fixed;
    height: 100vh;
}

nav{
    padding: 10px 0;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav .container .logo{
    width: 40px;
    height: 40px;
}

nav .container #nav-links ul li{
    margin-left: 35px;
    padding: 5px 0;
    position: relative;
    overflow: hidden;

}



nav .container #nav-links ul li::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
}

nav .container #nav-links ul li:hover::before {
    width: 100%; /* A borda cresce para 100% da largura do link */
}

/* Conteudo header */

header #conteudo-header{
    height: 90%;
}

header #conteudo-header .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

header #conteudo-header .container #area-texto_header{
    display: flex;
    align-items: center;
}

header #conteudo-header .container #area-texto_header #texto-header{
    width: 80%;
}

header #conteudo-header .container #area-texto_header #texto-header h1{
    font-family: teko !important;
    line-height: 100%;
    font-size: 3.2vw;
    margin-bottom: 5px;
    width: 30%;
}

header #conteudo-header .container #area-texto_header #texto-header p{
    line-height: 250%;
    font-size: 1.1vw;
    font-weight: 500;
}

header #conteudo-header .container #area-image-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header #conteudo-header .container #area-image-header img{
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border: 2px solid #fff;
}



/* Main */
main{
    height: 1000px;
}




@media (max-width: 1080px) {
    html{
        min-width: 0 !important;
    }

    .container{
        width: 90%;
    }
    /* Header */
    nav .container{
        justify-content: center;
    }

    nav .container #nav-links{
        display: none;
    }

    header{
        height: 100vh;
    }

    header #conteudo-header{
        height: 85%;
        display: flex;
        align-items: center;

    }

    header #conteudo-header .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header #conteudo-header .container #area-texto_header{
        margin-top: 15px;
        grid-area: txt-header;
        order: 2;
    }
    header #conteudo-header .container #area-texto_header #texto-header{
        width: 100%;
    }

    header #conteudo-header .container #area-texto_header #texto-header h1{
        width: 100%;
        text-align: center;
        font-size: 13vw;
    }

    header #conteudo-header .container #area-texto_header #texto-header p{
        font-size: 5vw;
        line-height: 200%;
        text-align: center;
    }


    header #conteudo-header .container #area-image-header{
        order: 1;
        display: flex;
        justify-content: center;
    }

    header #conteudo-header .container #area-image-header img{
        width: 250px;
        height: 250px;
    }
}





